POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=postgres

USERS_DB_URL=postgres://postgres:password@postgres_db:5432/todo_users_db?sslmode=disable
TASKS_DB_URL=postgres://postgres:password@postgres_db:5432/todo_tasks_db?sslmode=disable
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_DB=0
TELEGRAM_BOT_TOKEN=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=