# Скомпилированные файлы Go (твои запускаемые файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/app/app
repo_to_txt.py
repo.txt

# Локальные конфиги, где могут лежать пароли от базы данных
.env

# Кэш IDE и редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?